body {
  width: 100%; 
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: white; 
  padding: 10px; 
}

body > h2 {
  font-size: 40px; 
  font-family: Droid serif; 
  margin-bottom: 0;
}

body > h1 {
  font-family: Montserrat; 
  font-size: 75px; 
  margin-top: 5px;
}

body > button {
  padding: 20px 40px; 
  font-family: Montserrat; 
  font-weight: 650; 
  color: white; 
  background-color: #FED137;
  font-size: 18px; 
  border-radius: 10px;
}

.header {
  justify-content: space-between;
  height: 70px; 
  width: 100vw; 
  position: fixed; 
  top: 0; 
  right: 0; 
  left: 0;
  background-color: transparent; 
  display: flex;
  flex-direction: row;
  padding: 25px; 
}

.left-header {
  height: 100%; 
  width: 20%; 
  margin-left: 100px;
  padding: 0 30px; 
  display: flex; 
  align-items: center;

}

.logo{
  color: #FED137; 
  font-family: 'Kaushan Script', cursive;
  font-size: 28px; 
}


.right-header {
  height: 100%; 
  width: 30%; 
  margin-right: 250px;
  padding: 0 30px; 
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.right-header > div {
  margin: 20px; 
}



.links-container {
  flex-direction: row;
  width: 100%; 
  text-decoration: none;
}


@media screen and (max-width: 990px) {
  body > h2 {
    font-size: 25px; 
  }

  body > h1 {
    font-size: 50px; 
  }
  
  body > button {
    padding: 20px 40px; 
    font-weight: 450; 
    background-color: #FED137;
    font-size: 14px; 
    border-radius: 10px;
  }

  .header {
    background-color: #212528; 
    height: 40px; 

  }
  
  
  .left-header {
    height: 100%; 
    width: 20%; 
    margin-left: 100px;
    padding: 0 30px; 
    display: flex; 
    align-items: center;
  
  }
  
  .logo{
    color: #FED137; 
    font-family: 'Kaushan Script', cursive;
    font-size: 20px; 
  }
  
  
  .right-header {
    color: #212528;
  }
  
  .menu-button {
    padding: 20px 40px; 
    font-weight: 450; 
    background-color: #FED137;
    font-size: 14px; 
    border-radius: 10px;
    margin-right: 200px;

  }
  
  
  
  .links-container {
    flex-direction: row;
    width: 100%; 
    text-decoration: none;
  }

}